@lightGrey: #ccc;
@darkGreen: #0b8643;
@lightGreen: #8cc640;

@toolbarHeight: 26px;
@borderColor: black;
@headerColor: black;
@focusColor: @darkGreen;
@imgPath: '/images/';
@layoutPath: '@{imgPath}layout/';
@iconPath: '@{imgPath}icons/';
@silkPath: '@{iconPath}silk/';

@menuColor: #F5F5F5;